/* ============================================= */
/*              Color Variables                  */
/* ============================================= */
$color-snow-white: #fff;
$color-ash-grey: #ccc;
$color-royal-purple: #927bc1;
$color-apricot-coral: #fd7856;
$color-french-lilac: #deb2ee;
$color-malibu-blue: #7ee6fd;
$color-pastel-green: #88d9a0;
$color-fountain-blue:#4da2bb;
$color-sea-pink: #ec9fa3;
$color-vivid-orange: #fd9f85;
$color-deep-blush: #e4757a;
$color-emerald-green: #63CC82;
$color-aqua-blue: #51ddfc;
$color-mint-blue: #80e8d1;
$color-pastel-blue: #58e1c1;

/* ============================================= */
/*              Media Queries                    */
/* ============================================= */
$breakpoint-desktop: 768px;
