/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $color-snow-white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;

    @include media($breakpoint-desktop) {
        padding: 10px 30px;
    }
}

.default {
    background-color: $color-aqua-blue;

    &:hover {
        background-color: lighten($color-aqua-blue, 15%)
    }
}

.error {
    background-color: $color-deep-blush;

    &:hover {
        background-color: lighten($color-deep-blush, 15%)
    }
}

.info {
    background-color: $color-royal-purple;

    &:hover {
        background-color: lighten($color-royal-purple, 15%)
    }
}

.success {
    background-color: $color-emerald-green;

    &:hover {
        background-color: lighten($color-emerald-green, 15%)
    }
}

.warning {
    background-color: $color-apricot-coral;

    &:hover {
        background-color: lighten($color-apricot-coral, 15%)
    }
}